@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*roboto font linken*/
   * {
    box-sizing: border-box;
    scroll-behavior: smooth; /*scroll van nav smooth maken*/
    font-family: 'Roboto', sans-serif;

  }
  body {
    display: flex;
    min-height: 100vh; /*grootte ter waarde van 1% van de viewport. hier dus 100%*/
    flex-direction: column;
    margin: 0;
    background-color: #fdfdfd;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%2397d8d8' fill-opacity='0.45'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    /*achtergrond afbeelding toevoegen*/
  }
  #main {
    display: flex;
    flex: 1;
  }
  #main > article {
    flex: 1;
    order: 1; /*volgorde van de items*/
  }
  #main > nav, 
  #main > aside {
    flex: 0 0 20vw;
  }
  #main > nav {
    order: 3;
  }

  #flex-container{
    display: flex;
    flex-direction: column;
    padding: 0;
  }
/*flex container zorgt dat alle elements erin nog in een colomn blijven en responsive*/

  header, footer {
    height: 10vh; /*header en footer hebben een height van 10% relatief van de viewport*/
    width: 100%;
  }
  header, footer, article, nav{
    padding: 1em; /*padding waarvan de size relatief is van de font size*/
  }
  header{
    background-image: url(images/header.jpg);
    background-position: center top;
    background-size: 100%;
    max-height: 6em;
  }

  footer{
    justify-content: center; /*content midden zetten*/
    display: flex;
    align-items: center;
    background-image: url(images/footer.jpg);
  }


  h1{
    padding: 0;
    margin:0;
    font-size: 16pt;
  }

  h2{
    font-size: 12pt;
    padding: 0;
  }

  figure{
    margin: 0px;
  }
  nav{
    line-height: 3.5em;
  }
  ul{
    border-right: solid black 1px; /*rechterlijn van de tijdlijn*/
    list-style-type: none;
    position: fixed; /*scrollt mee met het scherm*/
    padding-left: 0;
  }

  a{
    font-size: 12pt;
    color: black;
  }

  a:hover, a:active{
    font-size: 16pt; /*op hover en active wordt de font groter*/
  }

  img{
    max-width: 80%; /*niet groter dan 80%*/
    border-radius: 6px;
    box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.25); /*kleine schaduw toevoegen*/

  }

  p{
    background-color: #777777B3;
    color: white;
    max-width: 80%;
    font-size: 10pt;
    border-radius: 6px;
    padding: 1px 1px 1px 4px;
    font-size: 10pt;
    box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.25);

  }

  #arrow{
    width: 3em;
    height: 3em;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media only screen and (min-width: 568px) {
     nav{
      max-width: 15%;
     }
     h1{
      font-size: 24pt;
     }
     h2{
      font-size:  20pt;
     }
     a,p{
      font-size: 16pt;
     }
     a:hover{
      font-size: 22pt;
     }
  }

  @media only screen and (min-width: 1024px) {
    .content-flex-container{
      display: flex;
    }
    .content-flex-container p{
      margin: 0px 20px 20px 20px;
      width: 40%;
    }
    img{
      max-width: 450px;
    }
    nav{
      max-width: 10%;
      line-height: 5em;
    }
    h1{
      font-size: 30pt;
    }
    h2{
      font-size:  26pt;
    }
    a,p{
      font-size: 16pt;
    }
    a:hover{
      font-size: 20pt;
    }

}

  @media only screen and (min-width: 1200px) {
    nav{
      max-width: 11%;
    }
    a,p{
      font-size: 18pt;
    }
    a:hover{
      font-size: 22pt;
    }
    img{
      max-width: 550px;
    }

  }