@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
   * {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
  }
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
  }
  #main {
    display: flex;
    flex: 1;
  }
  #main > article {
    flex: 1;
    order: 1;
  }
  #main > nav, 
  #main > aside {
    flex: 0 0 20vw;
  }
  #main > nav {
    order: 3;
  }
  #main > aside {
    order: 2;
  }

  #flex-container{
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  #j1958{
    padding-top: 0;
  }

  header, footer {
    height: 10vh;
    width: 100%;
  }
  header, footer, article, nav{
    padding: 1em;
  }
  header{
    background-color: #B9BABC;
  }

  footer{
    justify-content: center;
    display: flex;
    align-items: center;
  }

  h1{
    padding: 0;
    margin:0;
    font-size: 16pt;
  }

  h2{
    font-size: 12pt;
    padding: 0;
  }

  figure{
    margin: 0px;
  }
  nav{
    line-height: 3.5em;
  }
  ul{
    border-right: solid black 1px;
    list-style-type: none;
    position: fixed;
    padding-left: 0;
  }

  a{
    font-size: 12pt;
    color: black;
  }

  a:hover, a:active{
    font-size: 16pt;
  }

  article{
    background-color: #77777780;
  }

  img{
    max-width: 100%;
    border-radius: 6px;
    box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.25);

  }

  p{
    background-color: #77777780;
    color: white;
    font-size: 10pt;
    border-radius: 6px;
    padding: 1px 1px 1px 4px;
    font-size: 10pt;
    box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.25);

  }

  #arrow{
    width: 3em;
    height: 3em;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  @media only screen and (min-width: 568px) {
    body {
        background-color: blue;
     }
     h1{
      font-size: 24pt;
     }
     h2{
      font-size:  20pt;
     }
     a,p{
      font-size: 16pt;
     }
     a:hover{
      font-size: 20pt;
     }
  }

  @media only screen and (min-width: 1024px) {
    body {
      background-color: green;
    }

    #flex-container{
      flex-wrap: wrap;
      
    }

    article{
     flex:;
    }
   }

  @media only screen and (min-width: 1200px) {
    body{ background-color: pink;
    }
  }