  * {
    box-sizing: border-box;
    scroll-behavior: smooth;

  }
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
  }
  #main {
    display: flex;
    flex: 1;
  }
  #main > article {
    flex: 1;
    order: 1;
  }
  #main > nav, 
  #main > aside {
    flex: 0 0 20vw;
  }
  #main > nav {
    order: 3;
  }
  #main > aside {
    order: 2;
  }

  #flex-container{
    display: flex;
    flex-direction: column;
  }


  header, footer {
    height: 10vh;
    width: 100%;
  }
  header, footer, article, nav, aside {
    padding: 1em;
  }

  figure{
    margin: 0px;
  }
  nav{

  }
  ul{
    border-left: solid black 1px;
    list-style-type: none;
    position: fixed;
    padding-left: 0;
  }

  li{

  }

  img{
    max-width: 100%;
  }
